src/main/resources/wsdl/GetWeather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:v1="http://new.getWeatherService.namespace" xmlns:tns="http://new.getWeatherService.namespace" targetNamespace="http://new.getWeatherService.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.getWeatherService.namespace" elementFormDefault="qualified">
			<xs:element name="getWeatherRequest">
				<xs:complexType>
					<xs:choice>
						<xs:element name="city" type="xs:string"/>
						<xs:element name="zipcode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="getWeatherResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="city" type="xs:string"/>
						<xs:element name="weather" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getWeatherInput">
		<wsdl:part name="parameter" element="v1:getWeatherRequest"/>
	</wsdl:message>
	<wsdl:message name="getWeatherOutput">
		<wsdl:part name="parameter" type="v1:getWeatherResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetWeatherPortType">
		<wsdl:operation name="getWeather">
			<wsdl:input message="v1:getWeatherInput"/>
			<wsdl:output message="v1:getWeatherOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetWeatherBinding" type="v1:GetWeatherPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getWeather">
			<soap:operation soapAction="http://new.getWeatherService.namespace" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetWeatherService">
		<wsdl:port name="GetWeatherPort" binding="v1:GetWeatherBinding">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>